# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized, where we are going to have a high level overview about the different open source and commercial tools being used by data scientists.

**Objectives:**


*   List popular languages for Data Science
*   List commonly used libraries used by Data Scientists
*   List of most important Data Science Tools
*   List some of arithmatic expressions

Some of the popular languages that Data Scientists use are:
1.   Python
2.   R
3.   SQL
4.   Julia
5.   Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Matplotlib
3. Sciklearn
4. Tensorflow
5. ggplot2

| Data Science Tools                        |
| ----------------------------------------- |
| Data Management Tools                     |
| Data Integration and Transformation Tools |
| Data Visualization Tools                  |

### Below are a few examples of evaluating arithmetic expressions in Python:

1. **, for exponentiation.
2. //, for integer division
3. %, for modulus

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 6
200/60

3.3333333333333335

## Author
Tamer Hussien